
<div class="">
  <section id="slides">
           <ul class="">
              <li>
                 <img src="http://s30.postimg.org/at2av1c67/wall3.jpg" alt="">
              </li>
              <!-- <li>
                 <img src="http://s2.postimg.org/wkvip3jq0/wall1.jpg" alt="">
              </li>
              <li>
                 <img src="http://s23.postimg.org/3pxq6axlm/wall2.jpg" alt="">
              </li> -->
           </ul>
           <div id="bannertext">
              <h1>HYPE Fest</h1>
              <hr class="aligncenter">
              <h3>For all your music festival needs</h3>
              <p><button class="btn btn-lg btn-white btn-design"><a href="<%= sign_up_path %>" class="sign">Sign Up</button></a><button class="btn btn-lg btn-clear btn-design"><a href="<%=log_in_path%>">Log In</a></button></p>
              <h3><a href="<%= festivals_path %>">..or continue as a guest</a></h3>
           </div>
           <!-- end:Banner text -->
           <nav class="slides-navigation">
              <a href="index.html#" class="next">
              <i class="ion-ios-arrow-forward"></i>
              </a>
              <a href="index.html#" class="prev">
              <i class="ion-ios-arrow-back"></i>
              </a>
           </nav>
  </section>
</div>




<!--
<script>
// Banner text add parallax efect and fade
function EasyPeasyParallax() {
  scrollPos = $(this).scrollTop();
  $('#slider').css({
      'background-position': '50% ' + (-scrollPos / 4) + "px"
  });
  $('#bannertext').css({
      'margin-top': (scrollPos / 4) + "px",
      'opacity': 1 - (scrollPos / 250)
  });
}
$(document).ready(function () {
  $(window).scroll(function () {
      EasyPeasyParallax();
  });
});
</script> -->
