<form class="new_review" id="new_review" action="/reviews" accept-charset="UTF-8" method="post">



  <div class="field">
    <textarea class="form-control" rows="3" name="review[name]" id="review_name" placeholder="Type a Review!"></textarea>
  </div>

  <br><br>

  <div class="field">
    <input type="submit" name="commit" value="Submit Review">
  </div>
</form>

<br>

<ul class="color" id= "results"></ul>
