
<div class="jumbotron1">
  <div class="container2">
    <h1 class ="contain">Check out some festivals</h1>
    <p></p>
  </div>
</div>


<div class="container-fluid banner"></div>


<div class = "create_space">
  <div class="festpic">
    <% @festivals.each do |festival| %>
      <div class="col-md-6 eachrow">
        <a href="<%= festival_path(festival) %>">
          <img src="<%= festival.pic %>" class="festival_pic">
        </a>
      </div>
    <% end %>
  </div>
</div>
