.navbar.navbar-default.navbar-static-top{
    background: rgba(0,0,0,0.4);
}

.navbar.navbar-default.navbar-static-top .container{
}

.navfont{
  color: white;
}


.nav.navbar-nav.navbar-right .btn-clear {
	background: transparent;
	color: white;
	border: 1px solid white;
}

.btn-clear:hover {
	background: white;
	color: #2f2f2f;
}

.nav.navbar-nav.navbar-right a{
  color: white;
}

.nav.navbar-nav.navbar-right .welcome-user{
  color: white;
  padding-top: 3%;
  font-size: 1.2em;
}



.jumbotron1 {
  background-image: image-url("wall3.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 90%;
  // position: absolute;
  // top: 50%;
  // transform: translateY(-50%);
  // right: 0;
  // bottom: 0;
  // left: 0;
  // z-index: -1;
  margin-top: -5%;
  // margin-bottom: 30%;
}

.bannertext2{
  position: absolute;
  top: 20%;
  right: 0;
  left: 0;
  z-index: 2;
  margin: auto;
  max-width: 700px;
  color: #fff;
  text-align: center;
}

.bannertext2 h1{
  position: relative;
  margin-bottom: 0;
  color: white;
  letter-spacing: 2px;
  font-weight: 900;
  font-size: 5.5em;
  line-height: 1em;
}

.bannertext2 hr{
  	border: 1px solid white;
  	width: 150px;
}

.bannertext2 i{
  cursor: pointer;
  color: white;

}


.giphy {
  background-image: url('http://media.giphy.com/media/3d5XNfu7zOtfG/giphy.gif');
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
  height: 35%;
}

.giphy p{
  // padding-top: 7%;
  font-size: 3em;
  text-align: center;
  color: white;
}

.list.container {
  background-color: #181818;
  width: 100%;
  // margin-top: 10%;
}

.list.container>h2 {
  color: white;
  text-align: center;
  padding-top: 4%;
  // padding-bottom: -10%;
  // border: 1px solid white;
}

// .list.container>hr {
//   border: 1px solid #f7ca18;
//   width: 150px;
//   text-align: center;
// }

.festpic {
  margin-top: 2%;
  margin-left: 22%;
  // margin: 2% 10% 2% 20%;
}


// Festivals Pics Hover - Codrop Effect
/*---------------*/
/***** Basic Grid *****/
/*---------------*/

.grid {
	position: relative;
	clear: both;
	margin: 0 auto;
	padding: 1em 0 4em;
	max-width: 1000px;
	list-style: none;
	text-align: center;
}

/* Common style */
.grid figure {
	position: relative;
	float: left;
	overflow: hidden;
	margin: 10px 1%;
	min-width: 320px;
	max-width: 480px;
	max-height: 360px;
	width: 70%;
	height: auto;
	background: #3085a3;
	text-align: center;
	cursor: pointer;
}

.grid figure img {
	position: relative;
	display: block;
	min-height: 100%;
	max-width: 100%;
	opacity: 0.8;
}

.grid figure figcaption {
	padding: 2em;
	color: #fff;
	text-transform: uppercase;
	font-size: 1.25em;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}

.grid figure figcaption::before,
.grid figure figcaption::after {
	pointer-events: none;
}

.grid figure figcaption,
.grid figure figcaption > a {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

/* Anchor will cover the whole item by default */
/* For some effects it will show as a button */
.grid figure figcaption > a {
	z-index: 1000;
	text-indent: 200%;
	white-space: nowrap;
	font-size: 0;
	opacity: 0;
}

.grid figure h2 {
	word-spacing: -0.15em;
	font-weight: 300;
}

.grid figure h2 span {
	font-weight: 800;
}

.grid figure h2,
.grid figure p {
	margin: 0;
}

.grid figure p {
	letter-spacing: 1px;
	font-size: 68.5%;
}

/*---------------*/
/***** Jazz Effect *****/
/*---------------*/

figure.effect-jazz {
	background: -webkit-linear-gradient(-45deg, #f3cf3f 0%,#f33f58 100%);
	background: linear-gradient(-45deg, #f3cf3f 0%,#f33f58 100%);
}

figure.effect-jazz img {
	opacity: 0.9;
}

figure.effect-jazz figcaption::after,
figure.effect-jazz img,
figure.effect-jazz p {
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
}

figure.effect-jazz figcaption::after {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	border-top: 1px solid #fff;
	border-bottom: 1px solid #fff;
	content: '';
	opacity: 0;
	-webkit-transform: rotate3d(0,0,1,45deg) scale3d(1,0,1);
	transform: rotate3d(0,0,1,45deg) scale3d(1,0,1);
	-webkit-transform-origin: 50% 50%;
	transform-origin: 50% 50%;
}

figure.effect-jazz h2,
figure.effect-jazz p {
	opacity: 1;
	-webkit-transform: scale3d(0.8,0.8,1);
	transform: scale3d(0.8,0.8,1);
}

figure.effect-jazz h2 {
	padding-top: 26%;
	-webkit-transition: -webkit-transform 0.35s;
	transition: transform 0.35s;
}

figure.effect-jazz p {
	padding: 0.5em 2em;
	text-transform: none;
	font-size: 1em;
  color: white;
	opacity: 0;

}

figure.effect-jazz:hover img {
	opacity: 0.7;
	-webkit-transform: scale3d(1.05,1.05,1);
	transform: scale3d(1.05,1.05,1);
}

figure.effect-jazz:hover figcaption::after {
	opacity: 1;
	-webkit-transform: rotate3d(0,0,1,45deg) scale3d(1,1,1);
	transform: rotate3d(0,0,1,45deg) scale3d(1,1,1);
}

figure.effect-jazz:hover h2,
figure.effect-jazz:hover p {
	opacity: 1;
	-webkit-transform: scale3d(1,1,1);
	transform: scale3d(1,1,1);
}






// Festivals Pics Hover B/W to Color

.festival_pic {
  max-width:70%;
  height:270px;
  // max-width: 100%;
//   border: 1px solid black;
//   filter: grayscale(100%);
//   -webkit-filter: grayscale(100%);  /* For Webkit browsers */
//   filter: gray;  /* For IE 6 - 9 */
//   -webkit-transition: all .6s ease;  /* Transition for Webkit browsers */
}

// .festival_pic:hover {
//     filter: grayscale(0%);
//     -webkit-filter: grayscale(0%);
//     filter: none;
// }



.eachrow {
  margin-right: -10%;
  margin-bottom: 3%;
}

// .container-fluid.banner {
//   background-color: black;
//   height: 50%;
//   margin-top: 50%;
// }

// .container2{
//   text-align: center;
//   margin-top: 20%;
//   color: white;
//   font-family: 'Martel Sans', sans-serif;
// }
//
// .contain{
//   // font-size: 3.5em;
//   font-weight: bold;
//   text-shadow: 0 0 13px rgba(0,0,0,0.5);
// }
//
// .create_space {
//   margin-top: 40%;
//   margin-left: 20%;
//   margin-right: auto;
//   // margin: 35% 10% 2% 10%;
//
//   // background-color: black;
// }
