
.container-fluid{
  color: white;
  text-align: center;
}

.title1 {
  font-family: 'Monoton', cursive;
  text-shadow: 0 0 13px rgba(0,0,0,0.5);
  font-size: 20em;
  // color: white;
  // text-align: center;
}


#bannertext .sign{
  color: rgba(0, 0, 0, 1);
}

#bannertext a{
  color: white;
}

.giant{
  overflow: hidden;
}


.large-header {
	position: relative;
	width: 100%;
  max-height: 100%;
	background: #333;
	overflow: hidden;
	background-size: cover;
	background-position: center center;
	// z-index: 1;
}
//
// .giant .large-header {
// 	background-image: url('http://s30.postimg.org/at2av1c67/wall3.jpg');
// }
