.fornew{
  text-align: center;
}

.container1{
  width:30%;
  text-align: center;
  margin-left: 35%;
}



.first-forms{
  margin-top: -20%;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  border-radius: 2px;
  border: 1px solid white;
  background-color: rgba(0,0,0,0.5);
}
